@import "https://cdn.jsdelivr.net/npm/@vue-flow/core@1.20.2/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/core@1.20.2/dist/theme-default.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css";

:root {
  --primary-color: #4294ff;
  --secondary-color: #d373c0;
  --secondary-light-color: #fbf2fa;
  --background-color: #f4f9ff;
  --text-color: #2b2d33;
  --border-primary-color: #dedfdf;
  --border-secondary-color: #808185;
	--text-color-secondary: #B5B5B8;
  --error-color: #dc3545;
	--height-element-top-panel: 50px;
}
html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100vh;
	width: 100vw;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#app {
  color: var(--text-color);
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
